@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 42px; // initial font-size set after which the rem units can be used
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: $body-bg;
    @include flexCenter;
    flex-direction: column;
    padding-bottom: 60px;
}